ref/Homo_sapiens_assembly38.fasta.gz filter=lfs diff=lfs merge=lfs -text
bams/NA12878.alignedHg38.duplicateMarked.baseRealigned.bam filter=lfs diff=lfs merge=lfs -text
bams/NA12878.alignedHg38.duplicateMarked.baseRealigned.bam.bai filter=lfs diff=lfs merge=lfs -text
